<div class="cbpgmp cibulMap" data-tiles="{{ map_tiles_url }}" {{ auto_search ? 'data-auto="1"' }} data-oamp data-cbctl="{{ agenda_uid }}" data-lang="{{ lang }}" {{ event_uid ? 'data-event-uid=' ~ event_uid }}></div>
{{ attach_library('openagenda/openagenda.mapfilter') }}