{#
/**
 * @file
 * Default theme implementation for an event time table block.
 *
 * Available variables:
 * - event: the event.
 *
 * @see template_preprocess_block()
 *
 * @ingroup themeable
 */
#}
{{ attach_library('openagenda/openagenda.event-timetable') }}

<div class="timings js_timings">
  <ul class="months">
    {% for month in event.timetable %}
      <li class="month {{ loop.first ? 'displayed' }} js_month">
        <div class="month-title">
          {% if not loop.first %}
            <i class="prev fa fa-chevron-left js_prev">{{ 'Previous'|t }}</i>
          {% endif %}
          <h4>{{ month.label }}</h4>
          {% if not loop.last %}
            <i class="next fa fa-chevron-right js_next">{{ 'Next'|t }}</i>
          {% endif %}
        </div>
        <ul class="month-list">
          {% for week in month.weeks %}
            {% for day in week %}
              <li class="month-item">
                <span class="day">{{ day.label }}</span>
                {% for timing in day.timings %}
                  <span class="hour">{{ timing.begin }}-{{ timing.end }}</span>
                {% endfor %}
              </li>
              {% endfor %}
            <li class="week-separator"></li>
          {% endfor %}
        </ul>
      </li>
      {% endfor %}
    </ul>
</div>
