{#
/**
 * @file
 * Default theme implementation for map filter block.
 *
 * Available variables:
 * - map_tiles_url: osm map tiles url.
 * - map_tiles_attribution: osm map tiles attribution.
 * - auto_search: indicates wheter to reload results or not on map change.
 *
 * @see template_preprocess_block()
 *
 * @ingroup themeable
 */
#}

{{ attach_library('openagenda/openagenda.openagenda-leaflet') }}

<div class="oa-map-filter map-container oa-filter"
  data-oa-filter="map"
  data-oa-filter-params="{&quot;tileUrl&quot;:&quot;{{ map_tiles_url }}&quot;,&quot;tileAttribution&quot;:&quot;{{ map_tiles_attribution }}&quot;,&quot;searchWithMap&quot;:{{ auto_search ? 'true' : 'false'}},&quot;searchMessage&quot;:&quot;{{ 'Search with map'|t }}&quot;,&quot;type&quot;:&quot;map&quot;,&quot;name&quot;:&quot;geo&quot;}"></div>
